body{
	background-color: lightcyan;
}
h1{
	font-family:Klee;
	font-size:70px;
	font-color:lightblue;
	text-transform: uppercase;

}
body}
}
h2{
	font-family:Klee;
	font-size:50px;
	font-color:lightblue;
	text-transform: uppercase;

}
h4{
	font-family:Klee;
	font-size:30px;
	font-color:yellow;
	text-transform: uppercase;

}
h3{
	font-family:Klee;
	font-size:30px;
	font-color:lightblue;
	text-transform: uppercase;
}

ul{
		font-family:Klee;
	font-size:30px;
	font-color:lightblue;
	text-transform: uppercase;
}