.rectangle{
	width:300px;
	height:60px;
	background:#b22222;
		transform: translate(-200px);

}
h1{
	font-style: normal

}

.rectangle2{
	width:300px;
	height:60px;
	background:#b22222;
    transform: translate(170px,-468px);

}

h1{
	font-style: normal

}