p{
	font-style:italic;
}

p{ font-family: PilGi;
}

p{
	font-size: 70px;
}

p{text-align: center;

}
p{
	letter-spacing: 3px;
}
p{
	color:darkseagreen;
}

p{
	text-transform: lowercase;
}

p{
	font-weight: lighter;
}