p{
	font-style:normal;
}

P{ font-family: American Typewriter;

}

p{
	font-size: 80px;
}

p{text-align: center;

}
p{
	letter-spacing: 3px;
}
p{
	color:pink;
}

p{
	text-transform: uppercase;
}

p{
	font-weight: lighter;
}