p{
	font-style:normal;
}

P{ font-family: Lingwai SC;
}

p{
	font-size: 30px;
}

p{text-align: right;

}
p{
	letter-spacing: 15px;
}
p{
	color:teal;
}

p{
	text-transform: capitalize;
}

p{
	font-weight: bold;
}