p{
	font-style:normal;
}

P{ font-family: Papyrus;

}

p{
	font-size: 30px;
}

p{text-align: center;

}
p{
	letter-spacing: 2px;
}
p{
	color:cadetblue;
}

p{
	text-transform: lowercase;
}

p{
	font-weight: lighter;
}

p{
	text-decoration:overline;
}

body{
	background-color:lightcyan;

}
p{
	background-position: 
}

a{
	color:black;
}