.court {
  border: solid 80px lightpink;
  width: 1200px;
  height: 600px;
  display: block;
  margin: 30px auto;
}

.courtgrid{
  display: grid;
  height: 100%;
  border: solid 3px white;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.court__cell {
  background: brown;
  display: flex;
  color: white;
}

.court1{ background: brown;
  display: flex;
  color: white;
	
}

.court__alley--top-left {
  grid-column: 1/ 14;
   border: solid 3px white;
}

.court__alley--top-right {
  grid-column: 14 / 27;
  border: solid 3px white;
}

.court__nml--left {
  grid-row: 2 / 8;
  grid-column: 1 / 7;
  border: solid 3px white;
}

.court__ad--left {
  grid-row: 2 / 5;
  grid-column: 7 / 14;
  border: solid 3px white;
}

.court__ad--right {
  grid-row: 2 / 5;
  grid-column: 14 / 21;
  border: solid 3px white;
}

.court__dc--left {
  grid-row: 5 / 8;
  grid-column: 7 / 14;
  border: solid 3px white;
}

.court__dc--right {
  grid-row: 5 / 8;
  grid-column: 14 / 21;
  border: solid 3px white;
}

.court__nml--right {
  grid-row: 2 / 8;
  grid-column: 21 / 27;
  border: solid 3px white;
}

.court__alley--bottom-left {
  grid-column: 1 / 14;
  border: solid 3px white;
}

.court__alley--bottom-right {
  grid-column: 14 / 27;
  border: solid 3px white;
}
